[submodule "Drivers/CMSIS/Device/ST/STM32H7xx"]
	path = Drivers/CMSIS/Device/ST/STM32H7xx
	url = https://github.com/STMicroelectronics/cmsis_device_h7.git
	branch = master
[submodule "Drivers/STM32H7xx_HAL_Driver"]
	path = Drivers/STM32H7xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32h7xx_hal_driver.git
	branch = master
[submodule "Drivers/BSP/STM32H7xx_Nucleo"]
	path = Drivers/BSP/STM32H7xx_Nucleo
	url = https://github.com/STMicroelectronics/stm32h7xx-nucleo-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H745I-DISCO"]
	path = Drivers/BSP/STM32H745I-DISCO
	url = https://github.com/STMicroelectronics/stm32h745i-disco-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H747I-DISCO"]
	path = Drivers/BSP/STM32H747I-DISCO
	url = https://github.com/STMicroelectronics/stm32h747i-disco-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H7B3I-DK"]
	path = Drivers/BSP/STM32H7B3I-DK
	url = https://github.com/STMicroelectronics/stm32h7b3i-dk-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H735G-DK"]
	path = Drivers/BSP/STM32H735G-DK
	url = https://github.com/STMicroelectronics/stm32h735g-dk-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H750B-DK"]
	path = Drivers/BSP/STM32H750B-DK
	url = https://github.com/STMicroelectronics/stm32h750b-dk-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H7B3I-EVAL"]
	path = Drivers/BSP/STM32H7B3I-EVAL
	url = https://github.com/STMicroelectronics/stm32h7b3i-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H743I-EVAL"]
	path = Drivers/BSP/STM32H743I-EVAL
	url = https://github.com/STMicroelectronics/stm32h743i-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H747I-EVAL"]
	path = Drivers/BSP/STM32H747I-EVAL
	url = https://github.com/STMicroelectronics/stm32h747i-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/Components/Common"]
	path = Drivers/BSP/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common.git
	branch = main
[submodule "Drivers/BSP/Components/adv7533"]
	path = Drivers/BSP/Components/adv7533
	url = https://github.com/STMicroelectronics/stm32-adv7533.git
	branch = main
[submodule "Drivers/BSP/Components/ampire480272"]
	path = Drivers/BSP/Components/ampire480272
	url = https://github.com/STMicroelectronics/stm32-ampire480272.git
	branch = main
[submodule "Drivers/BSP/Components/ampire640480"]
	path = Drivers/BSP/Components/ampire640480
	url = https://github.com/STMicroelectronics/stm32-ampire640480.git
	branch = main
[submodule "Drivers/BSP/Components/cs42l51"]
	path = Drivers/BSP/Components/cs42l51
	url = https://github.com/STMicroelectronics/cs42l51.git
	branch = main
[submodule "Drivers/BSP/Components/es_wifi"]
	path = Drivers/BSP/Components/es_wifi
	url = https://github.com/STMicroelectronics/stm32-es-wifi.git
	branch = main
[submodule "Drivers/BSP/Components/exc7200"]
	path = Drivers/BSP/Components/exc7200
	url = https://github.com/STMicroelectronics/stm32-exc7200.git
	branch = main
[submodule "Drivers/BSP/Components/ft5336"]
	path = Drivers/BSP/Components/ft5336
	url = https://github.com/STMicroelectronics/stm32-ft5336.git
	branch = main
[submodule "Drivers/BSP/Components/ft6x06"]
	path = Drivers/BSP/Components/ft6x06
	url = https://github.com/STMicroelectronics/stm32-ft6x06.git
	branch = main
[submodule "Drivers/BSP/Components/is42s16800j"]
	path = Drivers/BSP/Components/is42s16800j
	url = https://github.com/STMicroelectronics/stm32-is42s16800j.git
	branch = main
[submodule "Drivers/BSP/Components/is42s32800g"]
	path = Drivers/BSP/Components/is42s32800g
	url = https://github.com/STMicroelectronics/stm32-is42s32800g.git
	branch = main
[submodule "Drivers/BSP/Components/is42s32800j"]
	path = Drivers/BSP/Components/is42s32800j
	url = https://github.com/STMicroelectronics/stm32-is42s32800j.git
	branch = main
[submodule "Drivers/BSP/Components/lan8742"]
	path = Drivers/BSP/Components/lan8742
	url = https://github.com/STMicroelectronics/stm32-lan8742.git
	branch = main
[submodule "Drivers/BSP/Components/m24lr64"]
	path = Drivers/BSP/Components/m24lr64
	url = https://github.com/STMicroelectronics/stm32-m24lr64.git
	branch = main
[submodule "Drivers/BSP/Components/mfxstm32l152"]
	path = Drivers/BSP/Components/mfxstm32l152
	url = https://github.com/STMicroelectronics/stm32-mfxstm32l152.git
	branch = main
[submodule "Drivers/BSP/Components/mt25tl01g"]
	path = Drivers/BSP/Components/mt25tl01g
	url = https://github.com/STMicroelectronics/stm32-mt25tl01g.git
	branch = main
[submodule "Drivers/BSP/Components/mt48lc4m32b2"]
	path = Drivers/BSP/Components/mt48lc4m32b2
	url = https://github.com/STMicroelectronics/stm32-mt48lc4m32b2.git
	branch = main
[submodule "Drivers/BSP/Components/mx25lm51245g"]
	path = Drivers/BSP/Components/mx25lm51245g
	url = https://github.com/STMicroelectronics/stm32-mx25lm51245g.git
	branch = main
[submodule "Drivers/BSP/Components/nt35510"]
	path = Drivers/BSP/Components/nt35510
	url = https://github.com/STMicroelectronics/stm32-nt35510.git
	branch = main
[submodule "Drivers/BSP/Components/otm8009a"]
	path = Drivers/BSP/Components/otm8009a
	url = https://github.com/STMicroelectronics/stm32-otm8009a.git
	branch = main
[submodule "Drivers/BSP/Components/ov5640"]
	path = Drivers/BSP/Components/ov5640
	url = https://github.com/STMicroelectronics/stm32-ov5640.git
	branch = main
[submodule "Drivers/BSP/Components/ov9655"]
	path = Drivers/BSP/Components/ov9655
	url = https://github.com/STMicroelectronics/stm32-ov9655.git
	branch = main
[submodule "Drivers/BSP/Components/rk043fn48h"]
	path = Drivers/BSP/Components/rk043fn48h
	url = https://github.com/STMicroelectronics/stm32-rk043fn48h.git
	branch = main
[submodule "Drivers/BSP/Components/rk070er9427"]
	path = Drivers/BSP/Components/rk070er9427
	url = https://github.com/STMicroelectronics/stm32-rk070er9427.git
	branch = main
[submodule "Drivers/BSP/Components/s5k5cag"]
	path = Drivers/BSP/Components/s5k5cag
	url = https://github.com/STMicroelectronics/stm32-s5k5cag.git
	branch = main
[submodule "Drivers/BSP/Components/s70kl1281"]
	path = Drivers/BSP/Components/s70kl1281
	url = https://github.com/STMicroelectronics/stm32-s70kl1281.git
	branch = main
[submodule "Drivers/BSP/Components/st7735"]
	path = Drivers/BSP/Components/st7735
	url = https://github.com/STMicroelectronics/stm32-st7735.git
	branch = main
[submodule "Drivers/BSP/Components/stmpe811"]
	path = Drivers/BSP/Components/stmpe811
	url = https://github.com/STMicroelectronics/stm32-stmpe811.git
	branch = main
[submodule "Drivers/BSP/Components/ts3510"]
	path = Drivers/BSP/Components/ts3510
	url = https://github.com/STMicroelectronics/stm32-ts3510.git
	branch = main
[submodule "Drivers/BSP/Components/wm8994"]
	path = Drivers/BSP/Components/wm8994
	url = https://github.com/STMicroelectronics/stm32-wm8994.git
	branch = main
[submodule "Drivers/BSP/Components/mx_wifi"]
	path = Drivers/BSP/Components/mx_wifi
	url = https://github.com/STMicroelectronics/stm32-mx-wifi
	branch = main
