[submodule "Drivers/CMSIS/Device/ST/STM32H7xx"]
	path = Drivers/CMSIS/Device/ST/STM32H7xx
	url = https://github.com/STMicroelectronics/cmsis_device_h7.git
	branch = master
[submodule "Drivers/STM32H7xx_HAL_Driver"]
	path = Drivers/STM32H7xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32h7xx_hal_driver.git
	branch = master
[submodule "Drivers/BSP/STM32H7xx_Nucleo"]
	path = Drivers/BSP/STM32H7xx_Nucleo
	url = https://github.com/STMicroelectronics/stm32h7xx-nucleo-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H745I-DISCO"]
	path = Drivers/BSP/STM32H745I-DISCO
	url = https://github.com/STMicroelectronics/stm32h745i-disco-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H747I-DISCO"]
	path = Drivers/BSP/STM32H747I-DISCO
	url = https://github.com/STMicroelectronics/stm32h747i-disco-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H7B3I-DK"]
	path = Drivers/BSP/STM32H7B3I-DK
	url = https://github.com/STMicroelectronics/stm32h7b3i-dk-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H735G-DK"]
	path = Drivers/BSP/STM32H735G-DK
	url = https://github.com/STMicroelectronics/stm32h735g-dk-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H750B-DK"]
	path = Drivers/BSP/STM32H750B-DK
	url = https://github.com/STMicroelectronics/stm32h750b-dk-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H7B3I-EVAL"]
	path = Drivers/BSP/STM32H7B3I-EVAL
	url = https://github.com/STMicroelectronics/stm32h7b3i-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H743I-EVAL"]
	path = Drivers/BSP/STM32H743I-EVAL
	url = https://github.com/STMicroelectronics/stm32h743i-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32H747I-EVAL"]
	path = Drivers/BSP/STM32H747I-EVAL
	url = https://github.com/STMicroelectronics/stm32h747i-eval-bsp.git
	branch = main
