[submodule "Drivers/CMSIS/Device/ST/STM32H7xx"]
	path = Drivers/CMSIS/Device/ST/STM32H7xx
	url = https://github.com/STMicroelectronics/cmsis_device_h7.git
	branch = master
[submodule "Drivers/STM32H7xx_HAL_Driver"]
	path = Drivers/STM32H7xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32h7xx_hal_driver.git
	branch = master
